p {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;
padding-top: 10px;
padding-bottom: 20px;
}

h1 {
    font-family:cursive;
    color: red;
    font-style:oblique;
    text-decoration-line:underline;
    text-align:center;
    font-size: 50px;
    text-shadow: 10px, 10px, black;
}

h2 {
    font-family:fantasy;
    font-size: 45px;
    font-stretch: expanded;
    letter-spacing: 5px;
    text
}

#subheader {
text-align:center;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 25px;
}

.red {
    background-color: rgba(177, 3, 3, 0.432);
    outline-style: dotted;
    outline-color: black;
    width: 50%;
}

.orange{
background-color: rgba(238, 105, 16, 0.568);
outline-style: dotted;
    outline-color: black;
    width: 50%
}

.yellow{
background-color:rgba(255, 217, 0, 0.473);
outline-style: dotted;
    outline-color: black;
    width:50%
}

.green{
background-color: rgba(17, 104, 21, 0.575);
outline-style: dotted;
    outline-color: black;
    width: 50%;
}

.blue{
 background-color:rgba(1, 1, 153, 0.432);
 outline-style: dotted;
    outline-color: black;
    width: 50%
}

.indigo{
background-color: rgba(55, 6, 110, 0.438);
outline-style: dotted;
    outline-color: black;
    width: 50%
}

.violet{
background-color: rgba(117, 5, 117, 0.466);
outline-style: dotted;
    outline-color: black;
    width: 50%
}

img {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 10%;
    margin-right: 10%;
    margin-bottom: 8%;
}

body {
    background-color: rgb(182, 180, 180);
}

footer {
    background-color: gray;
}

.dotted-list {
    text-align: center;
    font-size: 25px;
    padding-right: 8%;
    border-style:solid;
    border-color: black;
    border-width: 3px;
    width: 40%;
    align-items: center;
    background-color: rgb(182, 180, 180);
}

.color-symbolism-info {
    text-align: center;
}
